<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="nav-button" aria-label="Home">
      <mat-icon color="secondary">home</mat-icon>
    </button>
    <span>Clarence</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="nav-button" aria-label="account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="nav-button" aria-label="Menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

</header>




